body,
html {
  background-color: #ec3750;
  height: 100%;
  margin: 0;
}

.container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container img {
  width: 900px;
  height: 200px;
  margin-top: 250px;
  margin-left: 100px;
}

.main {
  padding-top: 200px;
  padding-left: 350px;
}

footer {
  text-align: center;
  margin-top: -40px;
}
